<!-- Creating custom components -->
<!-- http://localhost:3000/isolated/exercise/04.html -->

<body>
  <div id="root"></div>
  <script src="https://unpkg.com/react@18.1.0/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@18.1.0/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/@babel/standalone@7.12.4/babel.js"></script>
  <script src="https://unpkg.com/prop-types@15.7.2/prop-types.js"></script>

  <script type="text/babel">

    // 🐨 Make a function called `message` which returns the JSX we want to share

    // 🐨 use that function in place of the divs below with:
    // 💰 {message({children: 'Hello World'})} {message({children: 'Goodbye World'})}
    // const element = (
    //   <div className="container">
    //     <div className="message">Hello World</div>
    //     <div className="message">Goodbye World</div>
    //   </div>
    // )
    // function Message({ children }) {
    //   return <div className="message">{children}</div>
    // }

    // const element = (
    //   <div className="container">
    //     {React.createElement(Message, { children: 'Hello World' })}
    //     {React.createElement(Message, { children: 'Goodbyee World' })}
    //     <Message> Hello jugal</Message>
    //   </div>
    // )

    // const PropTypes = {
    //   string(props, propName, componentName) {
    //     if (typeof props[propName] !== 'string') {
    //       return new Error(
    //         `Hey, the component ${componentName} needs the prop ${propName} to be a string, but a ${typeof props[
    //           propName
    //         ]} was passed`,
    //       )
    //     }
    //   },
    // }

    function Message({ subject, greeting }) {
      return (
        <div className="message">
          {greeting}, {subject}
        </div>
      )
    }

    Message.propTypes = {
      subject: PropTypes.string.isRequired,
      greeting: PropTypes.string.isRequired,
    }
    // console.log(Message)
    const element = (
      <div className="container">
        <Message subject="Jugal" greeting="Hello" />
        <Message subject="World" greeting="Goodbye" />

      </div>
    )
    // 💯 This is only the first step to making actual React components. The rest is in the extra credit!
    ReactDOM.createRoot(document.getElementById('root')).render(element)
  </script>
</body>