.nav {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

a {
    margin: 20px;
    text-decoration: none;
    color: black;
}

a.active {
    border-bottom: 4px solid rgb(61, 250, 240);
}

a:hover {
    color: rgb(61, 250, 240);

}